<h1>Welcome to the Car Simulator!</h1>

<form id= "new_car" action="/cars/create">
  <label for="make">Make: </label>
  <input type="text" name="make" id ="make"/>
  <label for "model_year">Year: </label>
  <input type="text" name="model_year" id="model_year"/>
  <input type="submit" value= "Create new car"/>
</form>
